CMakeLists.txt.user
CMakeCache.txt
CMakeFiles/
CMakeScripts
Testing/
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeUserPresets.json

cmake-build-debug/
cmake-build-release/
cmake-build-prod/
cmake-build-production/
cmake-build-linux/
cmake-build-windows/
cmake-build-win32/
cmake-build-macos/
build/
build-debug/
build-release/
build-prod/
build-production/
build-linux/
build-win32/
build-macos/

*.a
*.o
*.so
*.dll
*.lib
*.exe
*.exe~
*.exp
*.pyd

.mypy/
__pycache__/
node_modules/

pyskx.cpp
